@media screen and (min-width: 1158px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    min-width: 1158px;
  }
  .header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
  }
  .header {
    display: flex;
  }
  .logo-line {
    display: flex;
    align-items: center;
  }
  .address-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    font-style: normal;
  }
  .contact-container {
    display: flex;
    gap: 40px;
    align-items: center;
    font-style: normal;
    padding: 24px 0;
  }
  .contact-link {
    flex-direction: row;
    align-items: center;
    font-style: normal;
    gap: 40px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0 24px;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  /* 1 section */
  .first-section {
    background-color: #2e2f42;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
  }
  .post-title {
    display: flex;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .button {
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* second section */
  .second-section {
    padding: 120px 0;
  }
  .second-section-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .second-section-items {
    width: calc((100% - 72px) / 4);
  }
  .second-section-list-item {
    display: flex;
  }
  .title {
    font-size: 20px;
    font-weight: 500;
  }
  .post {
    font-weight: 400;
    font-size: 16px;
  }
  /*3 section */
  .section-team {
    padding: 96px 0;
  }
  .our-team-item {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-background {
    text-align: center;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  /* четверта секція */
  .third-section {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
  }
  .our-portfolio-list {
    display: flex;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .our-portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    display: flex;
    width: 360px;
    height: 420px;
    flex-direction: column;
  }
  /* footer */
  .footer {
    padding: 100px 0;
  }
  .fotter-logo-p {
    /* display: flex; */
  }
  .p-footer {
    max-width: 264px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 550px;
    align-items: start;
  }
  .container-footer-social {
    display: block;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
  .icons-footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  .social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: left;
  }
  .mobile-menu {
    display: none;
  }
}
