@media screen and (min-width: 768px) and (max-width: 1157px) {
  .body {
    justify-content: space-between;
    min-width: 768px;
  }
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
  .header {
    height: 72px;
    flex-shrink: 0;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .header-item {
    display: flex;
  }
  .name-web {
    margin-left: 16px;
  }
  .contact-container {
    display: flex;
  }
  .contact-link {
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    gap: 12px;
    display: flex;
  }
  .menu-div {
    display: none;
  }
  .address-item {
    margin-left: auto;
    margin-top: 16px;
    font-style: normal;
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .open-mobile-menu-btn {
    display: none;
  }
  /* first section */
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-people-tablet.jpg);
    padding: 112px 0;
  }
  .post-title {
    width: 496px;
    margin-left: 136px;
  }
  .button {
    margin-left: 300px;
  }
  /* second section */
  .second-section {
    padding: 96px 0;
  }
  .second-section-list-item {
    display: none;
  }
  .second-section-items {
    flex-basis: calc((100% - 24px) / 2);
  }
  .second-section-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .title {
    text-align: left;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
  }
  .post {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
  }
  /* section 3 */
  .section-team {
    padding: 96px 0;
  }
  .our-team-item {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-background {
    text-align: center;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  /* section 4 */
  .third-section {
    padding: 96px 0;
    display: flex;
  }
  .our-portfolio-list {
    display: flex;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .our-portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  /* footer */
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 550px;
    align-items: start;
  }
  .social-media {
    text-align: left;
  }
  .p-footer {
    max-width: 264px;
  }
  .container-footer-social {
    display: block;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
  .mobile-menu {
    display: none;
  }
}
